body {
  &::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    background: url("../../content/background-cats.jpg") no-repeat center;
    background-size: cover;
    animation: background 20s forwards;
  }

  @keyframes background {
    from {
      transform: scale(1);
    }

    to {
      transform: scale(1.2);
    }
  }
}


.wrapper {
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;


  .container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    visibility: visible;
  }


  .container-visible {
    visibility: hidden;
  }

  .main {
    position: relative;
  }




  .cats-slider {
    padding: 0 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .slick-list {
      padding: 30px;

    }
  }

  .slide-item {
    max-width: 350px;
    margin: 0 30px;
    padding-bottom: 100px;
    box-shadow: 0px 10px 20px rgb(0, 0, 0);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 50px;
    backdrop-filter: blur(7px);

    h1,
    q {
      text-align: center;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin-bottom: 30px;
    }
  }

  .cats-slider {
    display: flex;
    gap: 10px;
  }
}

.arrow-box {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  margin-top: 25px;

  .arrow {
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: transparent;
    transition: all .5s;

    path {
      transition: all .5s;
    }
  }

  .arrow:hover {
    background: rgb(255, 126, 223);
    transition: all .3s;

    path {
      stroke: #fff;
      transition: all .3s;
    }
  }
}


.text {
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(15px, -500px);

  transition: all .5s;

  p {
    font-size: 55px;
    color: #fff;
  }
}

.text-visible {
  visibility: visible;
}

.btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  flex-direction: column;
  gap: 30px;
}

.button {
  color: #fff;
  padding: 10px 30px;
  display: block;
  background: rgba(231, 35, 199, 0.507);
  border-radius: 50px;
  transition: all .3s;

}

.button:hover {
  color: rgb(231, 35, 199);
  background: transparent;
  box-shadow: 0px 0px 10px #333;
}

.back {
  margin-top: 30px;
  animation: button 1s ease-in-out infinite;
}

.back:hover {
  animation-play-state: paused;
}

@keyframes button {

  0% {
    transform: translateX(0px);
  }
  50%{
    transform: translate(700px, 150px);
  }
  100% {
    transform: translate(-700px, 200px);
  }
}

@media screen and (max-width:500px) {
  .back{
    animation: button 7s alternate infinite;
  }
}

.play-video{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all .3s;
  padding: 10px 10px;
  border-radius: 20px;
 
}

.play-video:hover{
  background: rgb(231, 35, 199);
  color:#fff;
  
}